@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header .top-strip {}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.link:hover {
    color: #5433eb;
}

.container {
    width: 90%;
    margin: auto;
}

.MuiBadge-badge {
    background-color: #5433eb !important;
}